<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="variables.css" />
    <link rel="stylesheet" href="contactRes.css" />
    <link rel="stylesheet" href="cazareFooter.css" />
    <link rel="stylesheet" href="../mobile.css" />
    <link rel="stylesheet" href="contact.css" />
    <link rel="stylesheet" href="../general.css">
    <script type="module" src="contact.js"></script>
    <script type="module" src="navBar.js"></script>
    <script type="module" src="../navbar.js"></script>
    <script type="module" src="/components/contact.js"></script>
    <script type="module" src="/components/navbar.js"></script>
    <title>Contact</title>
  </head>
  <body>
    <div class="header">
      <div class="navbar" id="menu">
        <div class="navbar-logo">
          <p>
            <img src="/svg/icons8-star-48.png" alt="star" class="navbar-star" />
          </p>
          <h1 class="navbar_logo-name">
            <a href="/index.html" class="navbar_logo-a">EkoLoom</a>
          </h1>
        </div>
        <div class="navbar-elements">
          <a href="/index.html" class="element element-1">Acasa</a>
          <a href="/components/modele.html" class="element element-2">Modele</a>
          <a href="/components/incarcare.html" class="element element-3"
            >Incărcare</a
          >
          <a href="/components/beneficii.html" class="element element-4"
            >Beneficii</a
          >
          <a href="/components/performante.html" class="element element-5"
            >Performanțe</a
          >
          <a href="/components/noutati.html" class="element element-6"
            >Noutăți</a
          >
          <a href="components/contact.html" class="element element-7"
            >Contact</a
          >
        </div>
        <button class="btn-mobile" ">☰</button>
      </div>

    <main>
      <section class="section__form">
        <div class="form">
          <div>
            <h2 class="h2-contact">
              Pentru orice nelamurire ne puteti contacta
            </h2>
          </div>
          <form action="mailto:cioararaul08@gmail.com" method="post" class="form__class">
            <label for="username">Username</label>
            <textarea
              id="username"
              type="text"
              name="username"
              placeholder="Cioara Raul"
            ></textarea>

            <label for="email">Email</label>
            <textarea
              id="email"
              type="text"
              name="email"
              placeholder="cioara@gmail.com"
            ></textarea>

            <label for="message">Message:</label>
            <textarea
              id="message"
              name="message"
              placeholder="I love your site"
            ></textarea>

            <label for="phoneNumber">Phone number:</label>
            <textarea
              id="phoneNumber"
              name="phoneNumber"
              placeholder="0747428923"
            ></textarea>

            <label for="mention">Any mention:</label>
            <textarea
              id="mention"
              name="mention"
              placeholder="I would like a rework for this"
            ></textarea>

            <input type="submit" value="Submit" />
          </form>
        </div>
      </section>
    </main>

    <div class="footer_boxes">
      <div class="footer_box-text">
        <p>@Cioara Raul/All rights served</p>
      </div>
      <div class="footer_boxes-links">
        <div class="footer_box-link">
          <a href="https://www.facebook.com/cioara.raul.7/photos_by">
            <img src="../svg/facebook.svg" alt="insta" class="footer_svg" />
          </a>
        </div>
        <div class="footer_box-link">
          <a href="https://www.instagram.com/">
            <img src="../svg/instagram.svg" alt="insta" class="footer_svg" />
          </a>
        </div>
        <div class="footer_box-link">
          <a href="https://x.com/cioara_raul?t=iC0nYt5m0LKUfhG3cYoG_w&s=08 ">
            <img src="../svg/twitter.svg" alt="twiter" class="footer_svg" />
          </a>
        </div>
      </div>
    </div>
    

  </body>
</html>
