<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="variables.css" />
    <link rel="stylesheet" href="../general.css" />
    <link rel="stylesheet" href="noutati.css" />
    <script type="module" src="/components/navbar.js"></script>
    <title>Noutati</title>
  </head>
  <body>
    <!-- <div class="header">
      <div class="navbar">
        <div class="navbar-logo">
          <p>
            <img src="/svg/icons8-star-48.png" alt="star" class="navbar-star" />
          </p>
          <h1 class="navbar_logo-name">
            <a href="" class="navbar_logo-a">EkoLoom</a>
          </h1>
        </div>
        <div class="navbar-elements">
          <a href="" class="element element-1">Acasa</a>
          <a href="" class="element element-2">Modele</a>
          <a href="" class="element element-3">Incărcare</a>
          <a href="" class="element element-4">Beneficii</a>
          <a href="" class="element element-5">Performanțe</a>
          <a href="" class="element element-6">Noutăți</a>
          <a href="" class="element element-7">Contact</a>
        </div>
      </div>
    </div> -->

    <div class="img_header">
      <!-- <img
        src="https://images.unsplash.com/photo-1568559598349-dbf322d50a48?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="bg-img"
        class="bg_img"
      /> -->

      <div class="header">
        <div class="navbar" id="menu">
          <div class="navbar-logo">
            <p>
              <img
                src="/svg/icons8-star-48.png"
                alt="star"
                class="navbar-star"
              />
            </p>
            <h1 class="navbar_logo-name">
              <a href="/index.html" class="navbar_logo-a">EkoLoom</a>
            </h1>
          </div>
          <div class="navbar-elements">
            <a href="/index.html" class="element element-1">Acasa</a>
            <a href="/components/modele.html" class="element element-2"
              >Modele</a
            >
            <a href="/components/incarcare.html" class="element element-3"
              >Incărcare</a
            >
            <a href="/components/beneficii.html" class="element element-4"
              >Beneficii</a
            >
            <a href="/components/performante.html" class="element element-5"
              >Performanțe</a
            >
            <a href="/components/noutati.html" class="element element-6"
              >Noutăți</a
            >
            <a href="/components/contact.html" class="element element-7"
              >Contact</a
            >
          </div>
          <button class="btn-mobile" ">☰</button>
        </div>
      </div>
    </div>

    <section id="cars">
      <div class="cars">
        <div class="car_text">
          <div class="car_text_center"></div>
          <p>
            Află despre cele mai recente tehnologii și inovații implementate în
            mașinile electrice, de la baterii de ultimă generație la sisteme
            avansate de asistență la conducere.
          </p>
        </div>
        <div class="car_img">
          <img
            src="https://images.unsplash.com/photo-1567409378873-888d6fa7debc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="car_img"
          />
        </div>
        <div class="car_text">
          <p>
            Explorează modul în care designul mașinilor electrice evoluează
            pentru a combina estetica cu eficiența aerodinamică. Descoperă
            tendințele recente în materie de stil și funcționalitate.
          </p>
        </div>
        <div class="car_img">
          <img
            src="https://images.unsplash.com/photo-1623572435912-9940866dca4e?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="car_img"
          />
        </div>
        <div class="car_text">
          <p>
            Fi la curent cu ultimele lansări de modele de mașini electrice.
            Descoperă caracteristicile și performanțele noilor vehicule care
            intră pe piață.
          </p>
        </div>
        <div class="car_img">
          <img
            src="https://images.unsplash.com/photo-1630716059383-b3203bdda1e4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="car_img"
          />
        </div>
        <div class="car_text">
          <p>
            Privește progresele în dezvoltarea infrastructurii de încărcare
            pentru mașini electrice. Află despre noi stații de încărcare rapide
            și soluții inovatoare pentru extinderea rețelei.
          </p>
        </div>
        <div class="car_img">
          <img
            src="https://images.unsplash.com/photo-1517026575980-3e1e2dedeab4?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="car_img"
          />
        </div>
        <div class="car_text">
          <p>
            Află despre actualizările de software care aduc îmbunătățiri
            semnificative la nivelul performanței și funcționalităților
            mașinilor electrice.
          </p>
        </div>
        <div class="car_img">
          <img
            src="https://images.unsplash.com/photo-1577547622463-2e995c756535?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="car_img"
          />
        </div>
        <div class="car_text">
          <p>
            Afișează proiecte și inițiative care promovează durabilitatea și
            responsabilitatea ecologică în industria mașinilor electrice. Află
            cum producătorii se implică în protejarea mediului.
          </p>
        </div>
        <div class="car_img">
          <img
            src="https://images.unsplash.com/photo-1553260485-b073c3515d92?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="car_img"
          />
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="footer">
        <div class="info">
          <h2>Informații</h2>
          <div class="info">
            <input
              type="text"
              class="info_input"
              placeholder="Adaugați un email"
            />
            <button class="info_btn">Abonare</button>
          </div>
        </div>
        <div class="info">
          <h2>Linkuri Utile</h2>
          <div class="info-2">
            <a href="/components/modele.html"><h3>Modele</h3></a>
            <a href="/components/incarcare.html"><h3>Incărcare</h3></a>
            <a href="/components/beneficii.html"><h3>Beneficii</h3></a>
            <a href="/components/performante.html"><h3>performanțe</h3></a>
            <a href="/components/noutati.html"><h3>Noutăți</h3></a>
            <a href="/components/contact.html"><h3>Contact</h3></a>
          </div>
        </div>
        <div class="info">
          <h2>Contact</h2>
          <div class="info-3">
            <p>cioara.raul08@gmail.com</p>
            <p>0747-428-923</p>
          </div>
        </div>
      </div>
      <div class="social">
        <div>
          <p class="social_text">@All rights served/Cioara Raul</p>
        </div>
        <div class="social_icon-box">
          <a href="https://www.instagram.com/"
            ><img src="/svg/instagram.svg" alt="" class="footer_svg"
          /></a>
          <a href="https://www.facebook.com/cioara.raul.7/photos_by"
            ><img src="/svg/facebook.svg" alt="" class="footer_svg"
          /></a>
          <a href="https://x.com/cioara_raul?t=iC0nYt5m0LKUfhG3cYoG_w&s=08 "
            ><img src="/svg/twitter.svg" alt="" class="footer_svg"
          /></a>
        </div>
      </div>
    </section>
  </body>
</html>
<!-- <div class="img_header">
  <img
    src="https://i.gaw.to/vehicles/photos/40/30/403091-2023-bmw-4-series.jpg"
    alt="bg-img"
    class="bg_img"
  />
</div> -->
