<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../variables.css" />
    <link rel="stylesheet" href="../../general.css" />
    <link rel="stylesheet" href="/components/carJs/car.css " />
    <script src="/components/carJs/car.js"></script>
    <script src="/components/carJs/CarSpec.js"></script>
    <script type="module" src="/components/navbar.js"></script>

    <title>Masina</title>
  </head>
  <body>
    <div class="header">
      <div class="navbar" id="menu">
        <div class="navbar-logo">
          <p>
            <img src="/svg/icons8-star-48.png" alt="star" class="navbar-star" />
          </p>
          <h1 class="navbar_logo-name">
            <a href="" class="navbar_logo-a">EkoLoom</a>
          </h1>
        </div>
        <div class="navbar-elements">
          <a href="/index.html" class="element element-1">Acasa</a>
          <a href="/components/modele.html" class="element element-2">Modele</a>
          <a href="/components/incarcare.html" class="element element-3"
            >Incărcare</a
          >
          <a href="/components/beneficii.html" class="element element-4"
            >Beneficii</a
          >
          <a href="/components/performante.html" class="element element-5"
            >Performanțe</a
          >
          <a href="/components/noutati.html" class="element element-6"
            >Noutăți</a
          >
          <a href="/components/contact.html" class="element element-7"
            >Contact</a
          >
        </div>
        <button class="btn-mobile" ">☰</button>
      </div>
      <div class="img_bg">
        
      </div>
    </div>
    <section id="main">
      <div class="main">
        <h2 class="design">Aspect</h2>
        <div class="exterior">
          <h3>Exterior</h3>
          <div class="exterior_details">
            <div class="exterior-1">
              
            </div>
            <h3 class="interior">Interior</h3>
          <div class="exterior_details">
            <div class="interior-1">
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="tech">
        <h2 class="tech_header">Technologii</h2>
        <div class="tech">
            <button class="btn_tech tech_active">Sisteme de propulsie</button>
            <button class="btn_tech" >Baterii</button>
            <button class="btn_tech">Incarcare</button>
            <button class="btn_tech">Conectivitate-software</button>
        </div>
        <div id="content">
            
        </div>
    </section>
    <section id="footer">
      <div class="footer">
        <div class="info">
          <h2>Informații</h2>
          <div class="info">
            <input
              type="text"
              class="info_input"
              placeholder="Adaugați un email"
            />
            <button class="info_btn">Abonare</button>
          </div>
        </div>
        <div class="info">
          <h2>Linkuri Utile</h2>
          <div class="info-2">
            <a href=""><h3>Modele</h3></a>
            <a href=""><h3>Incărcare</h3></a>
            <a href=""><h3>Beneficii</h3></a>
            <a href=""><h3>performanțe</h3></a>
            <a href=""><h3>Noutăți</h3></a>
            <a href=""><h3>Contact</h3></a>
          </div>
        </div>
        <div class="info">
          <h2>Contact</h2>
          <div class="info-3">
            <p>cioara.raul08@gmail.com</p>
            <p>0747-428-923</p>
          </div>
        </div>
      </div>
      <div class="social">
        <div>
          <p class="social_text">@All rights served/Cioara Raul</p>
        </div>
        <div class="social_icon-box">
          <a href="https://www.instagram.com/"
            ><img src="/svg/instagram.svg" alt="" class="footer_svg"
          /></a>
          <a href="https://www.facebook.com/cioara.raul.7/photos_by"
            ><img src="/svg/facebook.svg" alt="" class="footer_svg"
          /></a>
          <a href="https://x.com/cioara_raul?t=iC0nYt5m0LKUfhG3cYoG_w&s=08 "
            ><img src="/svg/twitter.svg" alt="" class="footer_svg"
          /></a>
        </div>
      </div>
    </section>
  </body>
</html>
